<div class="container">
  <h1 class="mb-5 text-center">Dons de matériel</h1>
  <h3 class="mb-4 text-center">Détails des derniers mois</h3>
  <div echarts [options]="optionMateriaux" class="demo-chart mb-5"></div>
  <h3 class="mb-4 text-center">dernière saison chez pasteur</h3>
  <div echarts [options]="option" id="chart" class="demo-chart mb-5"></div>
<!--  <div></div>-->
<!--  &#45;&#45; todo &#45;&#45; <br>-->
<!--  bois <br>-->
<!--  quincaillerie <br>-->
<!--  metal <br>-->
<!--  peinture <br>-->
<!--  autres <br>-->
</div>
